<script lang="typescript">
  export const name: string = 'Sean Thompson'
</script>

<style>
  header {
    background: white;
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
    width: 100%;
  }

  h1 {
    display: block;
    line-height: 2;
    margin: 0;
  }

  h2 {
    display: block;
    line-height: 3;
    margin: 0;
  }
</style>

<header>
  <h1>Toy Robot</h1>
  <h2>Developed in Svelte by {name}</h2>
</header>
