<script lang="typescript">
  // import { TableStateType } from './globalTypes'
  const gridSize: number = 5
</script>

<style>
  table {
    margin: 0 auto;
  }

  td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
  }

  td.activeNorth {
    background: url('/robot_north.png');
  }
</style>

<table>
  <tbody>
    {#each Array(gridSize) as _, i}
      <tr>
        {#each Array(gridSize) as _, j}
          {#if i === 3 && j === 3}
            <td class="activeNorth" />
          {:else}
            <td />
          {/if}
        {/each}
      </tr>
    {/each}
  </tbody>
</table>
